 <h1 id="main_logo" class="centered animated slideInDown" id="title">Welcome to Ov<span class="r">r</span>Flow</h1>





<ul class="question_list">
<h3>Questions</h3>
  <% @questions.each do |question| %>
    <li class ="quest"><%= link_to question.title, question_path(question) %></li>
    <li class="author">Asked by <%= link_to question.user.username, user_path(question.user) %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Create New Question', new_question_path %>
<% end %>